.cardspace{

    margin-right:  10px;

}

.art {

 background-image: url(title.png);
 margin: 0 auto;
 background-repeat: no-repeat;

}

.mainbg {
    background-color: #f5f3de;

}
.bg1{
background-image: url(triangle.png);
margin: 0 auto;

}


